<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ASG.Crm.Sdk.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ASG.Crm.Sdk.Web.Properties.Settings>
            <setting name="OrgName" serializeAs="String">
                <value>VirtualEnterprises</value>
            </setting>
            <setting name="AdminUser" serializeAs="String">
                <value>CRMAdmin</value>
            </setting>
            <setting name="AdminPassword" serializeAs="String">
                <value>1nstaLL</value>
            </setting>
            <setting name="AdminDomain" serializeAs="String">
                <value>VIRTUAL</value>
            </setting>
            <setting name="QuoteURL" serializeAs="String">
                <value>https://virtualenterprises.virtual.com/sfa/quotes/edit.aspx?id=</value>
            </setting>
        </ASG.Crm.Sdk.Web.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
